/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Variables */
:root {
	--c-primary: hsl(215, 51%, 70%);
	--c-secondary: hsl(178, 100%, 50%);

	--c-neutral-dark: hsl(215, 32%, 27%);
	--c-neutral-darker: hsl(216, 50%, 16%);
	--c-neutral-darkest: hsl(217, 54%, 11%);
	--c-neutral-light: hsl(0, 0%, 100%);
}

/* Base/Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Outfit', sans-serif;
	background: var(--c-neutral-darkest);
	color: var(--c-primary);
	line-height: 1.5;
	/* padding: 1rem; */
	/* Align items on page horizontally and vertically */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: var(--c-neutral-light);
	transition: color 0.3s ease;
}

a:hover {
	color: var(--c-secondary);
}

/* NFT Card */
.nft-card {
	width: 85%;
	max-width: 350px;
	padding: 1.5rem;
	background: var(--c-neutral-darker);
	border-radius: 10px;
}

/* NFT Image & Overlay */
.img-container {
	position: relative;
	cursor: pointer;
}

.nft-img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: hsla(178, 100%, 50%, 0.5);
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.overlay-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-container:hover .overlay {
	opacity: 1;
}

/* NFT Heading */
.nft-heading {
	color: var(--c-neutral-light);
	margin: 1rem 0 0.75rem;
	font-size: 1.4rem;
	font-weight: 600;
}

/* NFT Subheading */
.nft-subheading {
	font-weight: 300;
	font-size: 1.1rem;
}

/* Cost & Time Left */
.nft-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 0;
}

.nft-cost,
.nft-time {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nft-cost {
	color: var(--c-secondary);
	font-weight: 600;
}

.icon {
	max-height: 1.25rem;
}

/* Divider */
.divider {
	/* height: 1px; */
	border: 0;
	border-top: 1px solid var(--c-neutral-dark);
}

/* NFT Author */
.nft-author {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0 0.5rem;
}

.author-img {
	width: 35px;
	height: auto;
	border: 1px solid var(--c-neutral-light);
	border-radius: 50%;
}

.author-info {
	font-size: 1rem;
}

.author-link {
	color: var(--c-neutral-light);
}

/* Footer */
.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 1rem;
}
